<!DOCTYPE html>
<html>
  <input
    type="text"
    id="user-input"
    value="Translate Hi to japanese"
  />
  <br>
  <button id="send-button">Send</button>
  <div id="response-container">
    <p>AI Response:</p>
    <div id="streamed-content"></div>
  </div>

  <script>
    // element
    const sendButton = document.getElementById("send-button");
    const userInput = document.getElementById("user-input");
    const streamedContentDiv = document.getElementById("streamed-content");

    // send btn
    sendButton.addEventListener("click", () => {
      const message = userInput.value;
      streamedContentDiv.textContent = "";
      url = "/deepseek/chat/"

      fetch(url, {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ message: userInput.value }),
        })
        .then(async (response) => {
            const reader = response.body.getReader();
            const decoder = new TextDecoder("utf-8");

            while (true) {
                const { done, value } = await reader.read();
                if (done) {
                    console.log("Stream finished.");
                    break;
                }
                let chunk = decoder.decode(value, { stream: true });
                console.log("1:" + chunk);
                chunk = chunk.replace("data: ", "");
                console.log("2:" + chunk);
                chunk = JSON.parse(chunk);
                console.log("3:" + chunk);
                continue;
                console.log("Chunk received:", data.content);
                streamedContentDiv.textContent += data.content;
            }
        })
        .catch((error) => console.error("Fetch error:", error));
    });
  </script>
</html>
